<h1>ホームページです</h1>
<p>検索窓準備します</p>
<div class="container">
  <p>これから追加します</p>
  <p>ここに最寄り駅</p>
  <p>input</p>
  <p>input2</p>
  <div>
    こんにちは
    追加要素を検討中です
    どうしましょう
  </div>
  <p>追加</p>
  
</div>