<h1>ホームページです</h1>
<p>検索窓準備します</p>
<div class="container">
  <p>これから追加します</p>
  <p>ここに最寄り駅</p>
  <p>input</p>
  <p>input2</p>
  <div>
    こんにちは
    追加要素を検討中です
  </div>
  <div>
    ここに行き先を貼る予定です
  </div>
  <div>
    使用予定のAPI
  </div>
  <a href="#">ここがリンク</a>
  <a href="#">リンク追加</a>
  <p>追加</p>
  <p>ここは泉</p>
  <p>こんにちは</p>
  
</div>